/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body 
{
    line-height:1;
    

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section 
{
    display:block;
}

nav ul 
{
    list-style:none;
}

blockquote, q
{
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
    content:'';
    content:none;
}

a 
{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins 
{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark 
{
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del 
{
    text-decoration: line-through;
}

abbr[title], dfn[title] 
{
    border-bottom:1px dotted;
    cursor:help;
}

table 
{
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr 
{
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select 
{
    vertical-align:middle;
}

/* Enter CODE --------------------------------------------------- */   
*  {
    text-decoration: none !important;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navbar Responsive------------------------------------*/
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 10px 5%;
	height: 100px;
	background-color: #df8844;
}
nav .logo {
	float: left;
	width: 100px;
	height: 100%;
	margin-right: 2rem;
	display: flex;
	align-items: center;
	color: #979797;
}
nav .logo a{
    display: none;
}

nav .links {
	float: left;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1.7em;
	font-size: 30px;
	font-weight: 700;
	color: white;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #979797;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

nav ul li a:hover{
	color: #b65408;
}
@media screen and (max-width: 768px) {
	nav{
        height: 70px;
    }
    nav .logo a{
        display: contents;
        display: block;
        font-size: 17px;
        font-weight: 700;
        color: #979797;
        text-decoration: none;
    }
    
    nav .logo {
        width: 70px;
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 10;
		left: 0;
		right: 0;
		top: 90px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(32, 32, 32);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}
/*End of navbar*/


/* MENU BAR -----------------------------------------------------*/
.main-container{
    margin: 0 auto;
    margin-top: 130px;
    padding: 30px;
    width: 80%;
}
.table-title p{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}


/*container per product */
.product-details{
    display: grid;
    height: max-content;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:1fr;
    grid-template-areas:
        "product-name product-quantity product-price product-subtotal product-remove";
    position: relative;

    margin: 0 auto;
    margin-top: 5px;
    padding: 30px;
    border-radius: 25px;
    background:#e7ab7d;
}
.product-details span{
    font-weight: 500;
    font-size: 20px;
}

.product-name{
    display: grid;
    grid-area: product-name;
    font-size: 20px;
    font-weight: 400;
}
.product-quantity{
    display: grid;
    grid-area: product-quantity;
    text-align: center;
}
.product-price{
    display: grid;
    grid-area: product-price;
    text-align: center;
}
.product-subtotal{
    display: grid;
    grid-area: product-subtotal;
    text-align: center;
}
.subtotal-mbl{
    visibility: hidden;
}
.product-remove{
    display: grid;
    grid-area: product-remove;
    text-align: center;
}

/* table footer */
.product-total{
    text-align: right;
    font-size: 30px;
}
.product-checkout{
    text-align: right;
    margin-top: 20px; 
}

/* Buttons */
.remove-btn{
    color: #6b6969;
}
.checkout-btn{
    color: black;
    background: white;
    outline-style: solid;
    outline-color: #b65408;
    outline-width: 5px;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 70px; 
}

footer {
    grid-area: footer;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    font-size: 20px;
    font-weight: 700;
    background: #557E68;
    text-align: center;
    color: white;  
}
@media only screen and (max-width: 1000px) {
    .main-container{
        width: 90%;
    }

    .product-details{
        display: grid;
        height: max-content;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
        grid-template-areas:
            "product-name product-quantity product-price" 
            "product-remove subtotal-mbl product-subtotal";
        position: relative;

    }
    .product-details span, p{
        font-weight: 500;
        font-size: 15px;
    }
    
    .product-name{
        display: grid;
        grid-area: product-name;
        font-size: 18px;
        font-weight: 400;
    }

    .product-subtotal{
        margin-top: 10px;
    }
    .subtotal-mbl{
        visibility: visible;
        display: grid;
        grid-area: subtotal-mbl;
        text-align: center;
        margin-top: 10px;
    }
    .product-subtotal .hidden{
        display: none;
    }
    .product-remove{
        display: grid;
        grid-area: product-remove;
        text-align: left;
        margin-top: 10px;
    }
    
    /* table footer */
    .product-total{
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }
    .product-checkout{
        margin-top: 20px; 
        text-align: center;
    }
    
    /* Buttons */
    .remove-btn{
        color: #6b6969;
    }
    .checkout-btn{
        color: black;
        border-radius: 25px;
        padding: 10px 70px;
        
    }
}