

.menu {
	border-bottom: 1px solid grey;
}
.menu ul {
	list-style-type: none;
}
.menu ul li {
	display: inline;
	padding: 1%;
}

.textcenter {
	text-align: center;
}

.wrapper {
	padding: 1%;
	width: 80%;
	margin: 0 auto;
}

.maincontent {
	margin: 1% 0;
	padding: 3% 0;
}

.tbl-full {
	width:100%;
}
.tbl-third {
	width: 30%;
}
table tr th {
	border-bottom: solid;
	padding: 1%;
	text-align: left;
}
table tr td {
	padding: 1%;
}

.btn-primary {
	background-color: #1e90ff;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.btn-primary:hover{
	background-color: #3743fa;
}

.btn-secondary {
	background-color: #7bed9f;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.btn-secondary:hover{
	background-color: #2ed573;
}

.btn-tertiary {
	background-color: #ff6b81;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.btn-tertiary:hover{
	background-color: #ff4757;
}

.success{
	color: green;
}

.error{
	color: red;
}